<style>
    .szxh-line{margin-top: 15px}
    .szxh-title{width:160px;display: inline-block;text-align: right;padding-top: 5px}
    .szxh-setting{padding-left:15px;display: inline-block;width: 72%;vertical-align: top;word-wrap: no-wrap}
    .text-width-tiny{width:60px;display: inline-block;}
    .text-width-small{width:120px;display: inline-block;}
    .text-width-normal{width:180px;display: inline-block;}
    .text-width-large{width:360px;display: inline-block;}
    .text-height-area{height:180px!important;}

    input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance: none !important}
    input[type="number"]{-moz-appearance:textfield;}
    .right-content{position: relative;}
    .help-inline {margin-top: 5px;margin-left:10px;margin-bottom: 10px;color: #737373;}
    .text-align-right{text-align: right;}
    .text-align-center{text-align: center;}
    
    .form-inline{display: inline-block}
    /*.table-top-search{float:left;}*/

    /*.radio-label input[type=radio]{display: none}*/
</style>