<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>支付中...</title>
    <link rel="stylesheet" href="{WEB_RESOURCE}/weui/dist/style/weui.min.css">
    <link rel="stylesheet" href="{WEB_RESOURCE}/main.css">
    <script src="{WEB_RESOURCE}/weui.js/dist/weui.min.js"></script>
    <script type="text/javascript" src="./resource/js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="./resource/js/lib/mui.min.js"></script>
	<script type="text/javascript" src="./resource/js/app/util.js?v=20170426"></script>
    <style>#top{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 9999;background: inherit}</style>
</head>
<body>
    <div id="top"></div>
    <h2>正在支付，请勿刷新页面</h2>
    <h5>如果长时间无反应，点击<a>这里</a>刷新该页面</h5>
    <script>
        function topay() {
            if(WeixinJSBridge == undefined) {
                return true;
            }
            util.pay({
                orderFee: '{$price}',
                payMethod: 'wechat',
                orderTitle: '{$row["title"]}',
                orderTid: '{$pay_sn}',
                module: '{MNAME}',
                success: function() {
                    history.back();
                },
                fail: function(e) {
                    alert(e.message);
                    history.back();
                },
                complete: function(e) {
                    history.back();
                }
            });
        }
        var action = setInterval(function() {
            
            if(WeixinJSBridge != undefined) {
                topay();
                clearInterval(action);
            }
        
        }, 200);
    </script>
</body>
</html>